<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'layouts/list', book: @book, user: @bookdetail.user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@bookdetail.user.id) do %>
              <%= attachment_image_tag @bookdetail.user, :profile_image, :fill, 40, 40, fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6", size: "40x40" %>
              <p><%= @bookdetail.user.name %></p>
              <% end %>
            </td>
            <td><%= link_to @bookdetail.title, book_path(@bookdetail.id) %></td>
            <td><%= @bookdetail.body %></td>
            <% if @bookdetail.user_id == current_user.id %>
            <th><%= link_to "Edit", edit_book_path(@bookdetail.id), class: "btn-sm btn-success edit_book_#{@bookdetail.id}" %></th>
            <th><%= link_to "Destroy", book_path(@bookdetail.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger destroy_book_#{@bookdetail.id}" %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>